<h2 mat-dialog-title>{{titulo}}</h2>

<mat-dialog-content [formGroup]="odontologoFormulario">

    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Usaurio:</mat-label>
                <input matInput placeholder="Placeholder" [formControlName]="'nombres'" name="nombres">
                <mat-icon matSuffix>person</mat-icon>
                <!--<mat-error *ngIf="hasError('usuario', 'required')">El usuario es requerido</mat-error>-->
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Usaurio:</mat-label>
                <input matInput placeholder="Placeholder" [formControlName]="'apellidos'" name="apellidos">
                <mat-icon matSuffix>person</mat-icon>
                <!--<mat-error *ngIf="hasError('usuario', 'required')">El usuario es requerido</mat-error>-->
            </mat-form-field>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Ingreso:</mat-label>
                <input matInput [matDatepicker]="myDatepicker" [formControlName]="'fechaIngreso'" name="fechaIngreso">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <mat-radio-group aria-label="Select an option" name="estado" [formControlName]="'estado'">
        <mat-radio-button [value]="true">Activo</mat-radio-button>
        <mat-radio-button [value]="false">Inactivo</mat-radio-button>
    </mat-radio-group>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>